@charset "utf-8";
/* CSS Document */
body{ background-color:#f6f6f6; font-size:14px;}
a:hover,a:focus{ color:#1baf5d;}
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}
.table {
    margin-bottom: 20px;
    width: 100%;
}
.table th, .table td {
    border-top: 1px solid #ddd;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.table th {
	border-top:none;
    font-weight: bold;
}
.table thead th {
    vertical-align: bottom;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.badge {
    border-radius: 9px;
    padding-left: 9px;
    padding-right: 9px;
}
.badge {
    background-color: #999;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 4px;
    vertical-align: baseline;
    white-space: nowrap;
}
.badge-warning {
    background-color: #f89406;
}
.hy_menu{ background-color:#1baf5d; width:100%; height:50px;}
.hy_menu .nav {
    display: block;
    float: left;
    left: 0;
    margin: 0 10px 0 40px;
    position: relative;
}
.hy_menu .brand {
    display: block;
    float: left;
    padding:5px 10px;
}
.hy_menu .nav.pull-right {
    float: right;
    margin-right: 0;
}
.hy_menu .nav > li {
    float: left;
}
.nav > li > a {
    display: block;
	font-size:16px;
}
.hy_menu .nav > li > a {
    color: #fff;
    float: none;
	height:50px;
	line-height:50px;
    padding:0 15px;
    text-decoration: none;
}
.hy_menu .nav li.dropdown.open > .dropdown-toggle, .hy_menu .nav li.dropdown.active > .dropdown-toggle, .hy_menu  .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #e5e5e5;
    color: #555;
}
.row-fluid{ margin-bottom:10px;}
.row-fluid .span3 {
    margin:20px 20px 0 0;
    width: 220px;
	float:left;
}
.bs-docs-sidenav {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    max-width: 228px;
    padding: 0;
}
.bs-docs-sidenav > li > a {
    border: 1px solid #e5e5e5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
	font-size:14px;
	color:#666;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
  color:#1baf5d;
}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    background-color: #1baf5d;
    color: #fff;
}
[class^="icon-"], [class*=" icon-"] {
    background-image:url(../images/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 4px;
    vertical-align: text-top;
    width: 14px;
}
.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:focus > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > li > a:focus > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:focus > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"], .dropdown-submenu:focus > a > [class*=" icon-"] {
    background-image:url(../images/glyphicons-halflings-white.png);
}
.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
    opacity: 1;
}
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}
.icon-chevron-right {
    background-position: -456px -72px;
}
.row-fluid .span9{ width:960px; float:left; margin-top:20px;}
.row-fluid .span6{ wdith:470px;}
.navbar {
    margin-bottom: 20px;
    overflow: visible;
}
.navbar-inner {
    background-color: #fafafa;
    background-image: linear-gradient(to bottom, #fff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.breadcrumb {
    background-color: transparent;
    margin: 0;
    padding: 10px 0;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li > .divider {
    color: #ccc;
    padding: 0 5px;
}
.breadcrumb > .active {
    color: #999;
}
.block{border:solid 1px #ccc; border-top:none; background-color:#fff;}
.block-header{border-left:none; border-right:none; bottom:0;}
.block-header div {
    padding-top: 10px;
}
.block-content {
    margin: 1em;
    min-height: 0.25em;
}


