<?xml version="1.0" encoding="utf-8"?>
<MailConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <registerActivateCallIndex>RegisterActivateNotice</registerActivateCallIndex>
  <resetKeyCallIndex>ResetKeyNotice</resetKeyCallIndex>
  <welcomeMsgCallIndex>WelcomeMsgNotice</welcomeMsgCallIndex>
  <auditCallIndex>AuditNotice</auditCallIndex>
  <identificationCallIndex>IdentificationNotice</identificationCallIndex>
</MailConfig>