@charset "utf-8";
/* CSS Document */

/*.shenhui34{font-size:34px; color:#333333; text-decoration:none;}
.shenhui34 a{font-size:34px; color:#333333; text-decoration:none;}
.shenhui34 a:hover{font-size:34px; color:#333333; text-decoration:none;}

.shenhui32{font-size:32px; color:#333333; text-decoration:none;}
.shenhui32 a{font-size:32px; color:#333333; text-decoration:none;}
.shenhui32 a:hover{font-size:32px; color:#333333; text-decoration:none;}

.shenhui32-2{font-size:32px; color:#8c8c8c; text-decoration:none;}
.shenhui32-2 a{font-size:32px; color:#8c8c8c; text-decoration:none;}
.shenhui32-2 a:hover{font-size:32px; color:#8c8c8c; text-decoration:none;}

.shenhui24{font-size:24px; color:#8c8c8c; text-decoration:none;}
.shenhui24 a{font-size:24px; color:#8c8c8c; text-decoration:none;}
.shenhui24 a:hover{font-size:24px; color:#8c8c8c; text-decoration:none;}

.shenhui30{font-size:30px; color:#333333; text-decoration:none;}
.shenhui30 a{font-size:30px; color:#333333; text-decoration:none;}
.shenhui30 a:hover{font-size:30px; color:#333333; text-decoration:none;}

.shenhui28{font-size:28px; color:#666666; text-decoration:none;}
.shenhui28 a{font-size:28px; color:#666666; text-decoration:none;}
.shenhui28 a:hover{font-size:28px; color:#666666; text-decoration:none;}

.lvse28{font-size:28px; color:#0dc10b; text-decoration:none;}
.lvse28 a{font-size:28px; color:#0dc10b; text-decoration:none;}
.lvse28 a:hover{font-size:28px; color:#0dc10b; text-decoration:none;}

.hong28{font-size:28px; color:#ee535f; text-decoration:none;}
.hong28 a{font-size:28px; color:#ee535f; text-decoration:none;}
.hong28 a:hover{font-size:28px; color:#ee535f; text-decoration:none;}


.huang28{font-size:28px; color:#fe7e30; text-decoration:none;}
.huang28 a{font-size:28px; color:#fe7e30; text-decoration:none;}
.huang28 a:hover{font-size:28px; color:#fe7e30; text-decoration:none;}

.zi28{font-size:28px; color:#d885d9; text-decoration:none;}
.zi28 a{font-size:28px; color:#d885d9; text-decoration:none;}
.zi28 a:hover{font-size:28px; color:#d885d9; text-decoration:none;}
*/

.hong28{
	color:#ee535f;}
	
.zi28{
	color:#d885d9;}
.huang28{
	color:#fe7e30;}







